<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <springProperty scope="context" name="service" source="spring.application.name"/>

  <!-- 日志在工程中的输出位置 -->
  <property name="LOG_FILE" value="/root/web/app/zentao-notice/logs/${service}.%d{yyyy-MM-dd}.log"/>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <prudent>false</prudent>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_FILE}</fileNamePattern>
      <maxHistory>365</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} |${HOSTNAME}| [%thread] %-5level %logger:%line - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE" />
  </root>
</configuration>